<%= form_for([@project, relation_type], html: {class: "ui form"}) do |f| %>
  <% if relation_type.errors.any? %>
    <div id="error_explanation" class="ui message red">
      <div class="header"><%= pluralize(relation_type.errors.count, "error") %> prohibited this relation_type from being saved:</div>

      <ul class="list">
      <% relation_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Please enter a relation type name, e.g. PPI. Alphanumeric characters and '_' are only allowed" %>
  </div>
  <div class="field">
    <%= f.label :entity_type %>
    <%= f.select :entity_type, @project.entity_types.map{|e| [e.name, e.name]}, {},  {multiple: "", class: 'ui fluid dropdown model'}%>
  </div>

  <div class="field">
    <%= f.label :num_nodes, "Number of nodes" %>
    <%= f.select :num_nodes, (1...20), {},  {class: 'ui fluid dropdown model'}%>
  </div>
  <div class="field">
    <%= f.label :color %>
    <%= f.text_field :color, class: "jscolor {hash: true}"  %>
  </div>

  <div class="ui field segment">
    <%= f.label "Sample Colors" %>
    <%
    EntityType::COLORS.each do |c|
      %>
      <button type="button" data-color="<%=c%>" class="color-button mini ui button" style="background-color: <%=c%>;color:#000; margin-bottom: 0.5em;"><%=c%></button>
    <% end %>
  </div>

  <div class="actions">
    <%= link_to "Back", project_relation_types_path(@project), class: "ui button" %>
    <%= f.submit "Save", class: "ui button primary" %>
  </div>
<% end %>
<script>
<%= content_for :defer_js do -%>

$(function() {
  $(".color-button").click(function(e) {
    var $e = $(e.currentTarget);
    var color = $e.data('color');
    $("input[name='relation_type[color]']")
      .val(color)
      .css("background-color", color);
    return false;
  });
});
<%- end -%>
</script>
