<% content_for :title, "User" %>

<%=image_tag(@user.image_or_default, alt: "avatar", class: "ui small circular image") %>
<h1 class="ui header">
  <% if @user.name.present? %>
    <%= @user.name %>
  <% else %>
    <%= @user.session_tail %>
  <% end %>
   
  <% if @user.valid_email? %>
    / <%= @user.email %>
  <% end %>
</h1>

<% if @user.id == current_user.id && !@user.valid_email? %>
  <div class="ui segment">
    <%=form_for(@user, html: {class: 'ui form inline'}) do |f| %>
      <div class="inline field">
        <label for='user_name'>You can change your nickname</label>
        <%= f.text_field :name, autocomplete: "name" %>
        <%= f.submit "Change nickname", class: 'ui button'%>
      </div>
    <% end %>
  </div>

  <div class="ui message info">
    Please save the URL below. You can re-use or share this session using the URL.
    (This message does not show to others)
    <h3 style='padding: 1em;'>
      <%=link_to @url, @url %>
    </h3>

    <%=form_tag("/users/sendmail", class: "ui form" ) do %>
      <div class="inline field">
        <input type="email" name="email" placeholder="Enter an email address to send the URL" aria-label="email" size="40">
        <button class="ui button primary">
          <i class="icon mail"></i>
          Send the URL above
        </button>
      </div>
    <% end %>
    <ul class='footnote'>
      <li>We do not collect or store you email address here. </li>
    </ul>
  </div>

  <div class="ui message">
    <div class="header">Register your e-mail address</div>
    <div class="ui segment">
      <%=form_for(@user, html: {class: 'ui form inline'}) do |f| %>
        <div class="field">
          <label for='user_email'>E-mail</label>
          <%= f.text_field :email, value: "" %>
        </div>
        <div class="field">
          <label for='user_email'>Password</label>
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <label for='user_email'>Password Confirmation</label>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="actions">
          <%= f.submit "Regisger E-mail", class: 'ui button'%>
        </div>
      <% end %>
    </div>
  </div>

<% end %>

<% if @user.id == current_user.id || current_user.super_admin? %>
  <%=link_to destroy_user_session_path,  method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button red' do %>
    <i class="icon sign out"></i>
    <% if @user.valid_email? %>
      Log Out
    <% else %>
      End Session
    <% end %>
  <% end %>
<% end %>

<% if @user.valid_email? %>
  <% if @user.id == current_user.id %>
    <%=link_to 'Edit Profile / Change Password', edit_user_path(current_user), class: 'ui button' %>
  <% elsif current_user.super_admin? %>
    <%=link_to 'Edit Profile', edit_user_path(@user), class: 'ui button' %>
  <% end %>
<% else %>
  <% if false && (@user.id == current_user.id || current_user.super_admin?) %>
    <%=link_to edit_user_path(@user), class: 'ui button' do %>
      <i class="icon linkify"></i>
      Register Email & Password
    <% end %>
  <% end %>
<% end %>

<% if current_user.super_admin? %>
  <%=link_to '/users', class: 'ui button' do %>
    <i class="icon user secret"></i>
    List of Users
  <% end %>
<% end %>