<% content_for :title, "Home" %>

<h1 class="ui dividing header">
  Highlights
</h1>

<h3 class="ui header blue"> 
  Team Project Management 
</h3>
<div class="sub header">
  TeamTat makes it easy for managing a team annotation project 
  by allowing the annotation manager to conveniently distribute 
  annotation workload to a group of individuals and to collect, 
  and merge individual annotations.  
  <br>  <br>
  <div class="ui stackable three column grid">
    <div class="column">
      <%=image_tag("sm_screenshot01.png", class: "ui bordered fluid image", alt: "screenshot-01") %>
      <%=link_to "You can upload documents in any format such as BioC, text and XML, or import from PubMed and PubMed Central", image_url("screenshot01.png"), target: "_blank" %>
    </div>
    <div class="column">
      <%=image_tag("sm_screenshot02.png", class: "ui bordered fluid image", alt: "screenshot-02") %>
      <%=link_to "A project manager can invite annotator(s) to work on a given project.", image_url("screenshot02.png"), target: "_blank" %>

    </div>
    <div class="column">
      <%=image_tag("sm_screenshot03.png", class: "ui bordered fluid image", alt: "screenshot-03") %>
      <%=link_to "Document assignment can be done manually, or automatically. Documents can also be assigned offline and uploaded.", image_url("screenshot03.png"), target: "_blank" %>

    </div>
  </div>
</div>

<h3 class="ui header blue" style="margin-top: 2em;"> 
  Streamlined Annotation Interface
</h3>
<div class="sub header">
  TeamTat allows each annotator to work independently and provides visual 
  clues when comparing results with another annotator. 
  TeamTat also supports many user-desired annotation functions 
  such as ability to annotate both entities and relations, 
  pre-annotation, inter-annotator agreement, etc.
  <br> <br>
  <div class="ui stackable two column grid">
    <div class="column">
      <%=image_tag("sm_screenshot04.png", class: "ui bordered fluid image", alt: "screenshot-04") %>
      <%=link_to "You can annotate directly on text with annotation type, concept ID, etc. Multi-label annotatoions are also supported.", image_url("screenshot04.png"), target: "_blank" %>
    </div>
    <div class="column">
      <%=image_tag("sm_screenshot05.png", class: "ui bordered fluid image", alt: "screenshot-05") %>
      <%=link_to "Relation annotation is document level and entities can appear on different sentences, paragraphs, or sections.", image_url("screenshot05.png"), target: "_blank" %>

    </div>
  </div>
</div>

<h3 class="ui header blue" style="margin-top: 2em;"> 
  Full Text Annotation with Figures 
</h3>
<div class="sub header">
  Users can annotate documents of any length, including full text journal articles, 
  in multiple data formats. TeamTat interface can display all 
  figures of full-text articles in PubMed Central. 
  <br>
  <br>
  <div class="ui stackable two column grid">
    <div class="column">
      <%=image_tag("sm_screenshot06.png", class: "ui bordered fluid image", alt: "screenshot-06") %>
      <%=link_to "If an article is retrieved from PubMed Central, TeamTat can display all images in text, for annotators’ convenience.", image_url("screenshot06.png"), target: "_blank" %>
    </div>
    <div class="column">
      <%=image_tag("sm_screenshot07.png", class: "ui bordered fluid image", alt: "screenshot-07") %>
      <%=link_to "If an article is retrieved from PubMed Central, TeamTat can display all images in text, for annotators’ convenience.", image_url("screenshot07.png"), target: "_blank" %>

    </div>
  </div>
</div>
